<div class="row">
  <div class="col-sm-12">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">{{"ACTIONS" | translate }}</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body" style="display: block;">
        <div class="col-sm-3 pull-right">
          <button type="button" class="btn btn-block btn-primary ng-binding" data-toggle="modal" data-target="#modalNewRoute" ng-click="showMap(); getAllVehicles()">{{ "ADD_ROUTE" | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>