<div class="login-box">
  <div class="login-box-body">
    <p class="login-box-msg">{{ "REGISTER_DESCRIPTION" | translate }}</p>

    <div class="alert alert-danger alert-dismissible" ng-show="showERegisterError === true;">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <p><i class="icon fa fa-ban"></i>{{ "REGISTER_ERROR" | translate}}</p>
    </div>

    <div class="alert alert-success alert-dismissible" ng-show="showERegisterSuccess === true;">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <p><i class="icon fa fa-check"></i>{{ "REGISTER_SUCCESS" | translate}}</p>
    </div>

    <form>
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="{{ 'FULL_NAME' | translate }}" type="text" ng-model="registerUser.name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="{{ 'EMAIL' | translate }}" type="email" ng-model="registerUser.email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="{{ 'PASSWORD' | translate }}" type="password" ng-model="registerUser.password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-sm-8">
        </div>
        <!-- /.col -->
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="register(registerUser)">{{ "REGISTER" | translate }}</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
</div>