<div class="content-wrapper" style="min-height: 901px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ "Dashboard" | translate }}
      </h1>
    </section>

    <section class="content">
    	<div class="row">        
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{getScore()}}</h3>
              <p>{{ "PERSONAL_SCORE" | translate }}</p>
            </div>
            <div class="icon">
              <i class="fa fa-star-o"></i>
            </div>
            <a ng-click="goTo('ScoreManager')" class="small-box-footer">{{ "ScoreManager" | translate }} <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
    	</div>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <ul class="timeline">
            <li class="time-label">
              <span class="bg-red"> 10 Feb. 2014</span>
            </li>
            <li>
              <i class="fa fa-envelope bg-blue"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                <div class="timeline-body">
                  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                  weebly ning heekya handango imeem plugg dopplr jibjab, movity
                  jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                  quora plaxo ideeli hulu weebly balihoo...
                </div>
              </div>

            </li>
          </ul>
        </div>
     </div>
    </section>

</div>
