<div class="col-sm-4">
  <form>
    <div class="box-body">      
      <div class="form-group">
        <label for="routeStartingPoint">{{ "STARTING_POINT" | translate}}</label>
        <div>
          <input type="text" class="form-control" id="routeStartingPoint"
          ng-model="route.startingPoint">
        </div>
      </div>
      <div class="form-group">
        <label for="routeEndingPoint">{{ "ENDING_POINT" | translate}}</label>
        <div>
          <input type="text" class="form-control" id="routeEndingPoint"
          ng-model="route.endingPoint">
        </div>
      </div>
      <div class="form-group">
        <label for="routeEndingDate">{{ "DAYS_OF_WEEK" | translate}}</label>
        <div>
          <label ng-repeat="day in daysOfWeek">
            <input type="checkbox" checklist-model="route.routeDaysOfWeek" checklist-value="day"> {{ day | translate }}&nbsp;&nbsp;
          </label>
        </div>
      </div>
    </div>
    <!-- col-1 -->
    <div class="box-footer">
      <button type="submit" class="btn btn-info pull-left" ng-click="searchForRoute(route)"  data-dismiss="modal">{{"LOOK" | translate}}</button>
    </div>
  </form>
</div>
<div class="col-sm-8">
	<div class="pad">
		<div id="mapForLookingRoutes" style="height: 325px;">
    </div>
	</div>
</div>
