<div ng-app="subiQueTeLlevoApp" ng-controller="UserController">
<div class="content-wrapper" style="min-height: 901px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Profile</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <section class="content">
    	<div class="row">        
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Mi puntuación</span>
                  <span class="info-box-number">{{info.myScore}}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
    		<div class="col-md-3 col-sm-6 col-xs-12">
    		  <div class="info-box">
    		    <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>

    		    <div class="info-box-content" >
    		      <span class="info-box-text">Mis rutas</span>
    		      <span class="info-box-number">{{myRoutes.length}}</span>
    		    </div>
    		    <!-- /.info-box-content -->
    		  </div>
    		  <!-- /.info-box -->
    		</div>
    		<!-- /.col -->

    	</div>
    </section>
</div>
</div>