<div class="dataTables_wrapper form-inline dt-bootstrap">
	<table role="grid" class="table table-bordered table-hover dataTable">
		<thead>
			<tr role="row">
				<th colspan="1" rowspan="1" tabindex="0">{{ "DESCRIPTION" | translate }}</th>
				<th colspan="1" rowspan="1" tabindex="0">{{ "REQUIRED_POINTS" | translate }}</th>
				<th colspan="1" rowspan="1" tabindex="0">{{ "STOCK" | translate }}</th>
				<th colspan="1" rowspan="1" tabindex="0"> {{ "ACTIONS" | translate }}
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in getProducts()">
				<td>{{ product.description }}</td>
				<td>{{ product.requiredPoints }}</td>
				<td>{{ product.stock }}</td>
				<td>
					<ul class="list-inline">
            <li class="pull-right">
              <button type="submit" class="btn btn-success btn-xs pull-right fa fa-check-circle " ng-click="purchaseProduct(product)"></li>
          </ul>				
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
		<div class="col-sm-5"></div>
		<div class="col-sm-7">
			<div class="dataTables_paginate paging_simple_numbers">
				<ul class="pagination">
					<li ng-class="{'disabled': pageIs(0)}"><a href="#"  ng-click="!pageIs(0) && productsPrevious()" ><span aria-hidden="true">«</span></a></li>
					<li ng-repeat="number in howMuchProducts()" class="paginate_button" ng-class="{'active': pageIs(number)}" ng-click="updateProducts(number)">
						<a>{{number + 1}}</a>
					</li>
					<li ng-class="{'disabled': pageIsMax()}"><a href="#" ng-click="!pageIsMax() && productsNext()"><span aria-hidden="true">»</span></a></li>
				</ul>
			</div>
		</div>
</div>




<div class="modal fade" tabindex="-1" role="dialog" data-target="#modalVoucher" id="modalVoucher">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<h4 class="modal-title">{{selectedProduct.description}}</h4>
    	</div>
    	<div class="modal-body">
      	<P>{{ "YOU_PURCHASE" | translate }} {{selectedProduct.description}}</P>
      	<P>{{ "PRINT_PRODUCT_VOUCHER" | translate }}</P>
  		</div>
  		<div class="modal-footer">
  			<button type="submit" class="btn btn-default" data-dismiss="modal">{{"CANCEL" | translate}}</button>
        <button type="button" class="btn btn-primary" ng-click="printDiv('modalVoucher')">{{ "PRINT" | translate }}</button>
      </div>
		</div>
	</div>
</div>