<div class="dataTables_wrapper form-inline dt-bootstrap">
	<table aria-describedby="example2_info" role="grid" id="example2" class="table table-bordered table-hover dataTable">
		<thead>
			<tr role="row">
				<th colspan="1" rowspan="1" tabindex="0">{{ "STARTING_POINT" | translate }}</th>
				<th colspan="1" rowspan="1" tabindex="0">{{ "ENDING_POINT" | translate }}</th>
				<th colspan="1" rowspan="1" tabindex="0">{{ "VEHICLE" | translate }}</th>
				<th colspan="1" rowspan="1" tabindex="0">{{ "DAYS_OF_WEEK" | translate }}</th>				
				<th colspan="1" rowspan="1" tabindex="0">{{ "ACTIONS" | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="route in getSearchResult() track by $index">
				<td>{{ route.startPoint }}</td>
				<td>{{ route.endPoint }}</td>
				<td>{{ route.vehicle.registrationNumber }} - {{ route.vehicle.model }}</td>
				<td><span ng-repeat="day in route.daysOfWeek">{{ day | translate }}&nbsp;</span></td>
				<td><button class="btn btn-primary fa fa-map-o" ng-click="openMapModal($index)" data-toggle="modal" data-target="#modalSearchRoute"></button>
					<button class="btn btn-primary fa fa-edit" ng-click="request($index)"data-toggle="modal" data-target="#modalRequestRoute"></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>


<div class="modal" id="modalRequestRoute">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span></button>
					<h4 class="modal-title">{{ 'REQUEST_ROUTE' | translate }}</h4>
				</div>
				<div class="modal-body">
					<p>{{ 'REQUEST_ROUTE_QUESTION' | translate}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="aceptedRequestOfRoute()">{{ 'ACCEPT' | translate}}</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'CANCEL' | translate}}</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>