<div class="dataTables_wrapper form-inline dt-bootstrap">
	<table aria-describedby="example2_info" role="grid" id="example2" class="table table-bordered table-hover dataTable">
		<thead>
			<tr role="row">
				<th colspan="1" rowspan="1" tabindex="0">{{ "STARTING_POINT" | translate }}</th>
				<th colspan="1" rowspan="1" tabindex="0">{{ "ENDING_POINT" | translate }}</th>
				<th colspan="1" rowspan="1" tabindex="0">{{ "VEHICLE" | translate }}</th>
				<th colspan="1" rowspan="1" tabindex="0">{{ "DAYS_OF_WEEK" | translate }}</th>				
				<th colspan="1" rowspan="1" tabindex="0">{{ "ACTIONS" | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="route in getSearchResult()">
				<td>{{ route.startPoint }}</td>
				<td>{{ route.endPoint }}</td>
				<td>{{ route.vehicle.registrationNumber }} - {{ route.vehicle.model }}</td>
				<td><span ng-repeat="day in route.daysOfWeek">{{ day | translate }}&nbsp;</span></td>
				<td><span ng-repeat="day in route.daysOfWeek">{{ day | translate }}&nbsp;</span></td>
			</tr>
		</tbody>
	</table>
</div>