<aside class="main-sidebar">
	<section class="sidebar" style="height: auto;">

		<div class="user-panel">
			<div class="pull-left image">
		        <img src="images/yeoman.png" class="img-circle" alt="User Image">
		        </div>
		        <div class="pull-left info">
		          <p>{{user.name}}</p>
		    </div>
		</div>	

		<ul class="sidebar-menu">
			<li class="header">{{ "MENU" | translate }}</li>
			<li ng-class="{'active': handling('dashboard')}"><a ng-click="goTo('dashboard')">
				<i class="fa fa-dashboard"></i>
				<span>{{ "Dashboard" | translate }}</span></a>
			</li>
			<li ng-repeat="manager in managers()" ng-class="{'active': handling(manager.manager)}">
				<a ng-click="goTo(manager.manager)">
				<i class={{iconFor(manager.manager)}}></i>
				<span>{{ manager.manager | translate }}</span>
			</a></li>
		</ul>

	</section>
</aside>