<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class=""><a aria-expanded="false" href="#points" data-toggle="tab">{{ "POINTS" | translate }}</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="points">
      <!-- The timeline -->
      <ul class="timeline timeline-inverse">
        
        <li ng-repeat="commentedPoint in getCommentedPoints()">

          <i class={{iconForCommentedPoint(commentedPoint)}}></i>

          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

            <h3 class="timeline-header">
              <button ng-click="goToUser(commentedPoint.userId)" type="button" class="btn btn-link">
              {{user.name}}
          </button></h3>

            <div class="timeline-body">
              {{ commentedPoint.comment }}
            </div>
          </div>
        </li>

      </ul>
    </div>
    <!-- /.tab-pane -->
  </div>
  <!-- /.tab-content -->
</div>