<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a aria-expanded="false" href="#points" data-toggle="tab">{{ "POINTS" | translate }}</a></li>
    <li class=""><a aria-expanded="false" href="#comments" data-toggle="tab">{{ "COMMENT" | translate }}</a></li>
  </ul>
  <div class="tab-content">
    <div class="active tab-pane" id="points">
      <!-- The timeline -->
      <ul class="timeline timeline-inverse">
        
        <li class="active" ng-repeat="commentedPoint in getCommentedPoints()">

          <i class={{iconForCommentedPoint(commentedPoint)}}></i>

          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

            <h3 class="timeline-header">
              <button ng-click="goToUser(commentedPoint.userId)" type="button" class="btn btn-link">
              {{user.name}}
          </button></h3>

            <div class="timeline-body">
              {{ commentedPoint.comment }}
            </div>
          </div>
        </li>

      </ul>
    </div>
    <!-- /.tab-pane -->

    <div class="tab-pane" id="comments">
      <div style="padding: 10px !important;">
        <form class="form-horizontal">
          <div class="form-group margin-bottom-none">
            <div class="col-sm-9">
              <input class="form-control input-sm" placeholder="Response" ng-model="comment.message">
            </div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-danger pull-right btn-block btn-sm" ng-click="newComment(comment)">{{ "COMMENT" | translate }}</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.tab-pane from comment -->  
      <div class="post" ng-repeat="comment in getComments()">
          <div class="user-block">
            <img class="img-circle img-bordered-sm" src="images/yeoman.png" alt="user image">
                <span class="username">
                  <a href="#">{{comment.userName}}</a>
                </span>
          <!-- /.user-block -->
          <p>
            {{comment.message}}
          </p>
        </div>
      </div>

    </div>
    <!-- /.tab-pane comments -->
  </div>
  <!-- /.tab-content -->
</div>